/* Basic reset for margin and padding */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
    font-family: Monaco;
  }
#headerImage{
  background-color: #0e0e5a;
  padding: 4%;
  width:auto;
  margin-left: -10px;
  margin-right: -10px;
  margin: -15px;
}

#headerImage h2{
  color:#fff;
  font-size: xx-large;
}
  body{
    background-color: rgb(107, 107, 107) ;
    color:#f7f7ff;
  }
  /* Style for navigation */
  header {
    background-color: rgb(255, 255, 255); /* Brown color for the header */
    color: #ffffff;
    padding: 20px 10px; /* Add padding to the header */
    box-shadow: 10px 10px 20px rgba(88, 65, 65, 0.2);
  }
  .logo img {
    width: 40px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-left: 10px; /* Provide some spacing */
    margin-bottom: 0px;
    border: 1px solid #D7CEC7; /* border */
    padding:5px;
  }
  .nav{
    padding:30%;
  }
  .nav-links {
    text-align: right; /* align the navigation links */
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li a {
    color:#fff;
    font-size:medium;
    font-family: sans-serif;
    font-weight: medium;
    text-decoration:none;
    padding: 10px 15px; /* Add padding to the buttons */
    border: 1px solid #ffffff; /* border */
    border-radius: 5px; /* Add some rounded corners */
    transition: all 0.3s ease; /* Smooth transition on hover */
    box-shadow: 5px 5px rgba(88, 65, 65, 0.2);
  }
  
  .nav-links li a:hover {
    background-color: #d9f0f2; /* Change background on hover */
    font-size: large;
    color:#120f69
}
  .grid-container{
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 100px
}   
    #select-greek-tragedies h3{
    text-align: center; /* Center-align the navigation links */
    padding:40px;
    font-family: sans-serif;    font-weight:500;
    color:rgb(149, 231, 229);
 
    }  
    
    #select-greek-tragedies h2{
    padding: 80px;
    background-color:rgb(3, 20, 73);
    font-family: Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    font-style: italic;
    }  
    #select-greek-tragedies h4{
    text-align: center; /* Center-align the navigation links */
    padding:20px;
    color:rgb(255, 241, 205);
}
#select-greek-tragedies h3{
  background-color:#000000;
  font-family: Geneva, Tahoma, sans-serif;
  font-size:x-large;
  font-style:normal;
  padding-top:4%;
  padding-bottom:2%;
  color:#e7e6ff
}


main section h3 div form select option {
  margin: 40px;
  background: rgb(108, 23, 23);
  color: #c14242;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select {
  padding: 8px;
  font-size: 15px;
  font-family: sans-serif;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  background-color: #f7f7ff;
  color: #07301e;
}

#aboutpageheader {
  color:white;
  background-color:black;
  text-align: center;
  padding: 20%;
  text-shadow: 1px 1px 1cqmax rgb(235, 230, 212);

}
#aboutpageinfo {
  color:white;
  background-color: #120f69;
  text-align: center;
  padding: 20%;
}