/* Basic reset for margin and padding */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
    font-family: Monaco;
  }
#headerImage{
  background-color: #0e0e5a;
  padding: 4%;
  width:auto;
  margin-left: -10px;
  margin-right: -10px;
  margin: -15px;
}

#headerImage h2{
  color:#fff;
  font-size: xx-large;
}
  body{
    background-color: rgb(9, 80, 84) ;
    color:#f7f7ff;
  }
  /* Style for navigation */
  header {
    background-color: rgb(255, 255, 255); /* Brown color for the header */
    color: #ffffff;
    padding: 20px 10px; /* Add padding to the header */
    box-shadow: 10px 10px 20px rgba(88, 65, 65, 0.2);
  }
  .logo img {
    width: 40px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-left: 10px; /* Provide some spacing */
    margin-bottom: 0px;
    border: 1px solid #D7CEC7; /* border */
    padding:5px;
  }
  .nav{
    padding:30%;
  }
  .nav-links {
    text-align: right; /* align the navigation links */
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li a {
    color:#fff;
    font-size:medium;
    font-family: Monaco;
    font-weight: medium;
    text-decoration:none;
    padding: 10px 15px; /* Add padding to the buttons */
    border: 1px solid #ffffff; /* border */
    border-radius: 5px; /* Add some rounded corners */
    transition: all 0.3s ease; /* Smooth transition on hover */
    box-shadow: 5px 5px rgba(88, 65, 65, 0.2);
  }
  
  .nav-links li a:hover {
    background-color: #ff5e1e; /* Change background on hover */
    font-size: large;
    color:#120f69
}
  .grid-container{
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 100px
  }   
    /* #select-greek-tragedies h3{
    text-align: center; 
    /* Center-align the navigation links * 
    padding:40px;
    font-family: sans-serif;    
    font-weight:500;
    color:rgb(161, 164, 164);
  } 
    */
    #select-greek-tragedies h2{
    padding: 80px;
    background-color:rgb(3, 20, 73);
    font-family: Monaco;
    font-size:xx-large;
    font-style: italic;
    }  
    #select-greek-tragedies h4{
    text-align: center; /* Center-align the navigation links */
    padding:20px;
    color:rgb(154, 152, 148);
}
#select-greek-tragedies h3{
  background-color:#030616;
  font-family: Monaco;
  font-size:x-large;
  font-style:normal;
  padding:20%;
  margin-bottom: 10px;
  /* padding-top:4%;
  padding-bottom:2%; */
  color:#ffffff;
  text-shadow:17px 10px 1px rgb(34, 52, 57) ;

}
#select-tragedies{
}
/* #choose-tragedy{
  /box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
} */ 
/* 
main section h3 div form select option {
  margin: 40px;
  font-family: Monaco;
  background: rgb(108, 23, 23);
  color: #c14242;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
} */

select {
  padding: 8px;
  font-size: 15px;
  font-family: Monaco;
  border: 2px solid #fff3f3;
  border-radius: 4px;
  background-color: #f9f3f0;
  color: #07301e;
}

#aboutpageheader {
  color:white;
  background-color:#030616;
  text-align: center;
  padding: 20%;
  text-shadow: 30px 1cqmax rgb(34, 52, 57);

}
#aboutpageinfo {
  color:white;
  background-color: #120f69;
  text-align: center;
  padding: 20%;
}

#tragedyHeader{
  color:white;
  background-color:#030616;
  text-align: center;
  padding: 40%;
  height: 40 px;
  text-shadow: 1px 1px 1cqmax rgb(250, 197, 188);
}

 #aeschylus, #euripides, #sophocles{
  color:white;
  background-color:#030616;
  text-align: center;
  padding: 20%;
  text-shadow: 30px 1cqmax rgb(34, 52, 57);
}

.greektragediansinfo{
  color:white;
  background-color: #120f69;
  text-align: center;
  padding: 25%;
  margin-left: -10px;
  margin-right: -10px;
  margin: -10px;
}